body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    width: auto;
    height: auto;
    flex-grow: 1;
}

html, main {
    background-color: rgb(20, 20, 20);
    color: azure;
}

header {
    position: relative;
    flex-grow: 1;
    width: 100%;
}

.portrait {
    display: flex;
    margin: auto;
    justify-content: center;
    background-image: url(assets/tamu\ overview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    padding: 20px;
    background-color: rgb(20, 20, 20);
    color: azure;
}

/* Class used for thumbnail of projects */
.hero {
    max-width: 350px;
    max-height: 240px;
}
.hero:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 35px rgb(145, 92, 182);
}

/* Caption for thumbnails */
.txtover { 
    position:relative 
} 

.txtover figcaption { 
    position:absolute; bottom:0; left:75px;
}

#footer {
    background-color: rgb(14, 29, 29);
    color: white;
}

#contact-me {
    position: absolute;
    border: 1rem;
    border-style: solid;
    border-color: dimgray;
    background-color: dimgray;
    position: absolute;
    left: 0px;
}

.nav-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.nav-contact a {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(61, 175, 175);
}

@media screen and (max-width: 768px) {
    main,
    nav,
    header,
    #about,
    .work {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 992px) {
    main,
    nav,
    header,
    #about,
    .work {
      flex-direction: column;
    }
  }
