body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: antiquewhite;
}

#header {
    padding: 20px;
    background-color: rgb(14, 29, 29);
    color: white;
    min-height: 100px;
}

.name {
    border: 1rem;
    border-style: solid;
    border-color: dimgray;
    background-color: dimgray;
    position: absolute;
    left: 0px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 20px;
}

.nav a {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(61, 175, 175);
}
/* This allowed my portrait to be centered at any size */
.portrait {
    display: flex;
    margin: auto;
    justify-content: center;
}

#about {
    display: flex;
    position: relative;
    margin-left: 50px;
    left: 20px;
}
/* Below is my attempt at a sidebar */
#about-side {
    display: flex;
    padding: 0px 30px 10px 0px;
    border-right-color: rgb(0, 110, 255);
    border-top-color: antiquewhite;
    border-left-color: antiquewhite;
    border-bottom-color: antiquewhite;
    border-style: solid;
}
/* This created two flexible paragraphs that scale based on screen size for my about me */
.about-paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

#work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: 20px;
    left: 20px;
    padding: 10px;
}
/* Below is another attempt at a sidebar */
#my-work {
    margin: 20px;
    left: 30px;
    display: flex;
    border-right-color: rgb(0, 110, 255);
    border-top-color: antiquewhite;
    border-left-color: antiquewhite;
    border-bottom-color: antiquewhite;
    border-style: solid;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}
/* I wanted to create a larger display for my feature project, which is also my only project at this point */
#one {
    padding: 20px;
    flex: 2 1 900px;
    text-align: center;
    display: flex;
    border-width: 4px;
    border-radius: 5px;
    border-style: ridge;
    border-color: black;
    justify-content: center;
  }
/* I use hero to designate the image I place as a representation for each of my projects */
.hero {
    max-width: 350px;
    max-height: 350px;
}
/* This allows the .hero class to glow when it is hovered over */
.hero:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 35px rgb(145, 92, 182);
}
/* This was part of my research that initially, and can be seen in some versions of sizing of the image, places text at the bottom of each of the .hero images */
.txtover { 
    position:relative 
} 

.txtover figcaption { 
    position:absolute; bottom:0; left:75px;
}
/* This is for each of my lesser projects, which right now are empty */
.two {
    flex: 1 2 300px;
    text-align: center;
    display: flex;
    border-width: 4px;
    border-radius: 5px;
    border-style: ridge;
    border-color: black;
    justify-content: space-evenly;
  }

#footer {
    padding: 10px;
    background-color: rgb(14, 29, 29);
    color: white;
    min-height: 50px;
}

#contact-me {
    position: absolute;
    border: 1rem;
    border-style: solid;
    border-color: dimgray;
    background-color: dimgray;
    position: absolute;
    left: 0px;
}

.nav-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.nav-contact a {
    text-align: center;
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(61, 175, 175);
}
/* This was an attempt at making the website more mobile friendly, this will require more research */
@media screen and (max-width: 768px) {
    main,
    nav,
    header,
    article,
    .box {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 992px) {
    main,
    nav,
    header,
    article,
    .box {
      flex-direction: column;
    }
  }
